.seguretat {
    background-color: red;
    color: white;
}

.plan {
    background-color: rgb(144, 238, 144);
}

.angles {
    background-color: rgb(221, 160, 221);
}

.php {
    background-color: yellow;
}

.seguretat {
    background-color: red;
}

.projecte {
    background-color: rgb(173, 216, 230);
}

.web {
    background-color: #b683b6;
}

.serveis {
    background-color: rgb(255, 160, 122);
}

.tutoria {
    background-color: rgb(173, 200, 200);
}